.jumbtron{
  background-color: #ff3f34;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.brand-icon{
  font-size: 65px;
}

.Thumb{
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left: auto ;
  margin-right: auto;
}
